[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
pylint = "*"
django-crispy-forms = "*"
gunicorn = "==19.9.0"
whitenoise = "==4.1.4"

[requires]
python_version = "3.8"
